@font-face {
    font-family: 'helvetica-rounded-bold';
    src: url('/helvetica-rounded-bold.otf');
}


html {
font-family: helvetica rounded , Helvetica, Arial;
background-color: white;
user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-webkit-touch-callout:none;
-ms-user-select:none;
}

div {
margin: auto;
padding: 20px;
text-align: center;
}

h1 {
color: #7075FF;
padding-bottom: 20px;
}

a.link {	
padding: 15px;
background-color: #E10512;
color: white;
border-radius: 30px;
border: none;
text-decoration: none;
line-height: 4;
}

a.link:hover {
background-color: #9C0512;
}

img {
height: 100px;
padding-bottom: 30px;
}
