@font-face {
font-family: "Inter";
src: url("/Inter-VariableFont_slnt,wght.ttf") format("ttf"),
}

html {
font-family: "Inter";
user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-webkit-touch-callout:none;
-ms-user-select:none;
}

body {
background-color: white;
color: #9C0512;
box-sizing: border-box;
}
    
body[light-mode=dark] {
background-color: #222;
color: white;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
}

img {
height: 90px;
}    

.light-mode-button {
background:0;
border: 0;
box-sizing: border-box;
cursor: pointer;
height: 60px;
width: 150px;
position: relative;
}
      
.light-mode-button:focus {
outline:none; /* Not ideal for accessibility */
}
      
.light-mode-button span:nth-child(1) {
position: absolute;
top:0;
left:0;
width: 150px;
height:60px;
border-radius: 40px;
background-color: #d6d7db;
box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 10%);
transition: .3s;
}
      
.light-mode-button span:nth-child(2) {
position: absolute;
top:7.5px;
left:7.5px;
width: 45px;
height: 45px;
background-color: #fff;
border-radius: 50%;
box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 10%);
transition: .3s;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1){
background-color: #d6d7db;
color: #9C0512;
box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
}
    
body[light-mode=dark] .light-mode-button span:nth-child(2) {
left: 97.5px;
background-color: #222;
box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
}
    
p {
font-size: 60px;
font-weight: 700;
}

div {
margin: auto;
padding-bottom: 20px;
text-align: center;
}

button.crou {
background-color: #E10512;
box-shadow: 0 20px #9C0512;
width: 600px;
height: 200px;
padding: 15px;
margin-bottom: 100px;
border: none;
border-radius: 80px;
color: white;
font-family: "Inter";
font-size: 70px;
font-weight: 400;
text-decoration: none;
}

button.crou:hover, button.crou:active {
box-shadow: none;
transform: translateY(20px)
}

body[light-mode="dark"] button.crou {
color: white;
}

span.counter {
color: #E10512;
font-size: 150px;
font-weight: 600;
}